/* * {
    margin: 0;
    padding: 0;
} */

/* /* .box {
    border: 2px solid red;
} */

/* .parent {
    background-color: beige;
    border: 1px solid black;
    width: 50%;
}

.child {
    background-color: aqua;
    border: 1px solid green; 
    width: 20%;  
}  */

/* .container {
    background-color: beige;
    border: 2px solid black;
    height: 100vh;
    width: 50vw;
} */

/* .box1 {
    border: 1px solid black;
    font-size: 100px;
} */

.firstPara {
    border: 1px solid black;
    font-size: 5rem;
}