@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');


:root {
    --primary-color:#ffa600;
    --background-color: #ffffff;
    --text-color: #333333;
    --link-color: #ffa610;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

body {
    height: 100vh;
    background-color:var(--background-color);
    text-align: center;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem 2rem;
    border-radius: 0.375rem;
}

/* Navbar Section  */

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    display: flex;
    justify-self: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    gap: 0.625rem;
}

.logo-icon {
    height: 2.875rem;
    width: 1.938rem;
}

.nav-items {
    display: flex;
    gap: 2.5rem;
}

.nav-items-links {
    color: #718096;
    font-size: 1.125rem;
    font-weight: 600;
    transition:  0.3s;
}

.nav-items-links:hover {
    color: var(--link-color);
    transform: scale(1.1);
}

.contact-btn{
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 0.75rem 1.5rem;
    border-radius: 0.375rem;
    transition: 0.2s;
}

.contact-btn:hover {
    background-color: #e99904;
    transform: scale(1.1);
}

.nav-menu-btn {
    background-color: var(--background-color);
    border-radius: 0.375rem;
    display: none;
    
}

.nav-menu-icon {
    height: 1.6rem;
    width: 1.6rem;
    transition: 0.1s;
}

.nav-menu-icon:hover {
    transform: scale(1.1);
}


/* Hero Section  */

.hero-section-container {
    display: flex;
    text-align: left;
    padding: 0.6rem;
    margin-top: 8%;
}

.hero-section-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    animation-name: sectionLeftToRight;
    margin-top: 3%;
}

.left-section-label {
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--primary-color);
}

.left-section-title {
    font-size: 3.8rem;
}

.left-section-description {
    font-size: 1.1rem;
    color: var(--gray);
    width: 78%;
}

.hero-section-start-btn, .hero-section-tour-btn {
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 0.75rem 1.5rem;
    border-radius: 0.375rem;
    transition: 0.3s;
}

.hero-section-tour-btn {
    background-color: var(--dark-gray);
}

.hero-section-start-btn:hover {
    background-color: #e99904;
    transform: scale(1.1);
}

.hero-section-tour-btn:hover {
    background-color: #6d6b6b;
    transform: scale(1.1);
}

.section-left-btn {
    display: flex;
    gap: 2rem;
    margin-top: 0.5rem;
}

.hero-section-right {
    width: 50%;
}

.hero-section-right img {
    width: 100%;
    height: 100%;
}

/* Header Company Section  */

.header-company-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 8%;
}

.company-title {
    font-size: 2.3rem;
    font-weight: bold;
}

.compamy-logo-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: var(--light-gray);
    gap: 3.6rem;
    padding: 1.8rem 2.5rem;
    border-radius: 0.625rem;

}

.company-logo {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.company-logo img {
    height: 1.56rem;
}

/* Features Section Container  */

.features-section-container {
    background-color: var(--light-gray);
    border-radius: 1rem;
}

.features-content {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    margin: 0 auto;
    margin-top: 5rem;
}

.features-main-title {
    font-size: 2.2rem;
    font-weight: bold;
}

.features-main-description {
    font-size: 1rem;
    color: var(--gray);
}

.features-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.3rem;
    border-radius: 1rem;
    gap: 1rem;
}

.features-icon-container {
    height: 3rem;
    width: 3rem;
    background-color: var(--background-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.features-card-img {
    height: 1.5rem;
    width: 1.5rem;
}

.features-card-title {
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
}

.features-card:nth-child(1) {
    background-color: #4a90e2;
}

.features-card:nth-child(2) {
    background-color: #FF6289;
}

.features-card:nth-child(3) {
    background-color: #fcbf58;
}

.features-card:nth-child(4) {
    background-color: #44bfc3;
}

.features-card:nth-child(5) {
    background-color: #77b05d;
}

.features-card:nth-child(6) {
    background-color: #7d78b1;
}

/* Testimonial Section  */

.testimonial-section-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 3rem;
}

.testimonial-title {
    font-size: 1.875rem;
    font-weight: bold;
}

.testimonial-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap: 2rem;
}

.testimonial-card {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(171, 163, 163);
    border-radius: 1rem;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 1rem;
    padding: 1.2rem;
    align-items: center;
    transition: 0.3s;
}

.testimonial-card:hover {
    transform: scale(1.05);
    border:1px solid var(--link-color);
}

.testimonial-text {
    color: #555;
    font-size: 0.875rem;
}

.testimonial-card-avatar {
    height: 5rem;
    width: 5rem;
}

.testimonial-details-name {
    color: var(--primary-color);
    font-size: 1rem;
}

.testimonial-details-caption {
    color: #777;
    font-size: 0.875rem;
}


/* News Letter Section  */

.news-letter-section {
    display: flex;
    background-color: var(--light-gray);
    text-align: left;
    margin-top: 4rem;
    border-radius: 1rem;
}

.news-left {
    width: 50%;
    background-image: url("./images/newsLetterBackground.jpg");
    background-size: cover;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.news-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0.5rem 0.7rem;
    justify-content: center;
    align-self: flex-start;
}

.news-right-info {
    padding: 0.3rem;
}

.news-title {
    font-size: 2.5rem;
    font-weight: bold;
    /* color: var(--primary-color); */
}

.news-desc {
    color: #777;
}

.news-email {
    background-color: var(--background-color);
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem 0.75rem;
}

.news-send-button {
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
}

.news-privacy-policy {
    color: #777;
    font-size: 0.76rem;
    padding: 0.3rem;
}

.news-link {
    color: #2563eb;
    text-decoration: underline;
}




/* Footer Section  */

.footer-section-container {
    display: flex;
    margin-top: 4rem;
}

.footer-section-left {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1.65rem;
    align-items: flex-start;

}

.footer-logo {
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.footer-logo-text {
    font-size: 1.28rem;
    color: black;
    font-weight: bold;
}

.footer-left-desc {
    font-size: 1rem;
    color: #777;
}

.social-link img{
    height: 1.5rem;
    width: 1.5rem;
}

.footer-section-right-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 5.67rem;
    width: 60%;
}

.footer-grid-heading {
    font-size: 1.05rem;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.footer-grid-link-list {
    font-size: 0.875rem;
    color: #777;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}


/* Footer Section Copyright  */

.footer-section-copyright {
    padding: 2rem;
    margin-top: 3rem;
    border-top: 1px solid #E5E7EB; 
    color: var(--gray);
    font-size: 0.75rem;
}